[data-tampering="rating-overlay"] {
  display: block;
  position: absolute;
  top: -22px;
  right: 0;
  left: 0;
  height: 27px;
  background-color:#ccc;
  background-clip:content-box;
  text-align:center;
  transition: top 0.5s;
  z-index: 1;
}

[data-tampering="rating-overlay"]:hover {
  top: 0px;
}

[data-tampering="rating-bar"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color:#167ac6;
}

[data-tampering="rating-label"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  line-height: 27px;
  font-size: 16px;
  color:white;
}
